.js-serieslink {
    display: block;
}

.dropdown-symbol--hidden {
    display: none;
}

.dropdown-icon {
    transition: transform 0.25s linear;
}

.dropdown-icon--expanded {
    transform: rotate(90deg);
}



